<%= simple_form_for(@profile, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

<%= f.error_notification %>
<%= display_base_errors @profile %>

    <%= f.input :name %>
    <%= f.input :acronym %>
    <%= f.input :description %>

<div class="form-actions">
<%= f.submit "guardar", :class => 'btn btn-primary' %>
<%= link_to 'Atras', profiles_path, :class => 'btn btn-small' %>
</div>
<% end %>
