<%- model_class = AccountReceivable -%>
<div class="page-header">
<h1>Cuenta por pagar</h1>
</div>
<div class='account_receivable'>
<p><b>Numero</b>: <%= @account_receivable.id %></p>
<p><b>Cuenta por Cobrar</b>: <%= @account_receivable.name %></p>
<p><b>Identificación</b>: <%= @account_receivable.identification %></p>
<p><b>Desde</b>: <%= @account_receivable.from %></p>
<p><b>Hasta</b>: <%= @account_receivable.to %></p>
</div
