<%- model_class = Supplier -%>
<div class="page-header">
<h1>Proovedor</h1>
</div>
<div class='supplier'>
<p><b>Numero</b>: <%= @supplier.id %></p>
<p><b>Documento</b>: <%= @supplier.document %></p>
<p><b>Razon Social</b>: <%= @supplier.social_reason %></p>
<p><b>Telefono Uno</b>: <%= @supplier.phone_one %></p>
<p><b>Telefono Dos</b>: <%= @supplier.phone_two %></p>
<p><b>Dirección</b>: <%= @supplier.address %></p>
<p><b>Email</b>: <%= @supplier.email %></p>
<p><b>Estado</b>: <%= @supplier.state %></p>
</div>
